<ion-header>
  <ion-navbar>
    <ion-title>
      QR code App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="Text" placeholder="My qr data" [(ngModel)]="qrdata">

    </ion-input>
  </ion-item>
  <button ion-button full icon-left (click)="CreateCode()"> <ion-icon name="barcode"></ion-icon>Create code</button>
  <button ion-button full icon-left (click)="ScanCode()"> <ion-icon name="bar-scanner"></ion-icon>Scan code</button>
  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
      <ion-card-content>
        <p> Value:{{ createdCode }}</p>
      </ion-card-content>
    
  </ion-card>
<ion-card *ngIf="scannedCode">
  <ion-card-content>
    Result from scan: {{scannedCode}}
  </ion-card-content>
</ion-card>
</ion-content>
